@import url(https://ww8.ikea.com/seaapp3/assets/css/notoSans.css);

/* Override styling */
body{
    font-weight: 400!important;
    line-height: 1.6!important;
}


header.header,
footer.footer,
[data-namespace="search-box"]{
    opacity: 0;
    transition: opacity 0.3s ease;
}
body.js-focus-visible header.header,
body.js-focus-visible footer.footer,
body.js-focus-visible [data-namespace="search-box"]{
    opacity: 1;
}


.ui-body-d,.ui-overlay-d {
    text-shadow: none!important;
}

.ikea-footer,
#returnToShopping,
#ikea-homeheader{
    display: none!important;  
}
.ui-mobile .ui-page-active {
    position: relative!important;
    margin-top: auto!important;
    min-height: auto!important;
    top: 0px!important;
}
#checkoutOptimization .header{
    z-index: 1!important;
}
.header{
    font-size: inherit!important;
    font-weight: inherit;
    padding-bottom: 0px!important;
    margin-left: 0px!important;
}
#checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-column2 .quantity{
    padding-top: 0px!important;
}
.ui-btn-up-purchase{
    background: #0058a3!important;
    color: #fff;
    border-radius: 2px;
    padding: 1rem 1.5rem;
    transition-property: background-color,border-radius,width;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,0,1);
    font-weight: 700;
    font-size: .875rem!important;
    display: inline-blockimportant;
}
.ui-btn-up-purchase:focus,
.ui-btn-hover-purchase{
    background: #3379b5!important;
    color: #fff;
    border-radius: 4px;
    transition-property: background-color,border-radius,width;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,0,1);
}
.ui-btn-up-purchase:active{
    background: #004682!important;
    border-radius: 8px;
}
.ui-btn-up-purchase, .ui-btn-hover-purchase, .ui-btn-down-purchase, .ikea-pip-purchase-button .ui-btn-active{
    border: none!important;
}
/*.ui-btn-up-d{
    border: none!important;
}
#checkoutOptimization .price-layout,
#checkoutOptimization .ikea-product-pricetag-cell .ui-li-desc,
#checkoutOptimization .ikea-shoppinglist-remove-all span,
#checkoutOptimization .empty-information .empty-information-headline,
.empty-information-text{
    font-size: 0.85rem!important;
}
#checkoutOptimization .shoppingListPriceRow .shoppingListNormalOrder .column-2 .shoppingListTotalPrice{
    font-size: 1rem!important;
    line-height: 1.6!important;
}*/

/*Shopping Cart Page*/
 body, #checkoutOptimization, .ikea-product-tag, .ikea-product-pricetag-desc, .ikea-product-pricetag-name, .ikea-product-pricetag-oldprice, .ikea-product-pricetag-currency, .ikea-product-pricetag-unit, .ikea-product-pricetag-unit-small, .ikea-product-pricetag-family, .ikea-product-pricetag-prf-less, .ikea-product-pricetag-prf-fee, .ikea-product-pricetag-prf-link, .ikea-product-pricetag-tro-text, .ikea-product-pricetag-family-text, .ikeaproduct-package-count, .ikea-prf-popup-text-header, .ikea-prf-popup-text, .ikea-prf-popup-link, .ikea-product-local-price-text, .ikea-product-ordinary-price, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-btn-active, .ui-body-d, .ui-body-d input, .ui-body-d select, .ui-body-d textarea, .ui-body-d button,.ui-btn-text, #userform header .mandatory, .create-profile, .loginform-normal-text .ui-btn-text, .loginform-normal-text, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c, .ikea-font-normal, .ikea-font-normal-bold, .ikea-font-normal-italic {font-family: 'Noto IKEA', 'Noto Sans','Open Sans', sans-serif !important; font-size: 1rem; } 

 .ui-body-d, body {background: #ffffff!important;}

.ui-btn-up-purchase, .ui-btn-hover-purchase, .ui-btn-down-purchase, .ikea-pip-purchase-button .ui-btn-active {border-color:#0058A3; background:#0058A3; text-shadow:none; font-weight:700; padding: .35rem 1.5rem; box-sizing: border-box;}
.ui-btn-hover-purchase { background-color: #3379b5;border-color: #3379b5;}
.ui-btn-up-purchase .ui-btn-text, .ui-btn-hover-purchase .ui-btn-text{font-size: .875rem!important;}

#checkoutOptimization {
    max-width:1400px; 
    margin: 0 auto;
    width: 100%;
}
.ui-body-d .ui-content .ui-listview{
    width: 90%!important;
    max-width: 1400px;
    margin: 0 auto!important;
}
#checkoutOptimization .header {font-size: 1.5rem!important; margin: 20px auto; font-weight: bold; min-height: auto;}
#checkoutOptimization .empty-information {padding:0 0 20px;}
#checkoutOptimization #returnToShopping a, .ui-body-d .ui-link, .ui-body-d .ui-link:visited {color:#0058A3;}
#checkoutOptimization .price-layout {font-size: .875rem!important;}

#checkoutOptimization .shoppingListPriceRow {border: 0; border-radius: 0; margin-bottom: 30px!important;}
#checkoutOptimization #ikea-shoppinglist-list .productRow, #checkoutOptimization .ikea-shoppinglist-remove-all {padding: 0 10px!important; max-width: 1370px; margin: 0 auto; }

#checkoutButtonBoxTop .ui-btn-up-purchase, #checkoutButtonBoxTop .ui-btn-hover-purchase, #checkoutButtonBoxTop .ui-btn-down-purchase, #checkoutButtonBoxTop .ikea-pip-purchase-button .ui-btn-active,
#checkoutButtonBoxBottom .ui-btn-up-purchase, #checkoutButtonBoxBottom .ui-btn-hover-purchase, #checkoutButtonBoxBottom .ui-btn-down-purchase, #checkoutButtonBoxBottom .ikea-pip-purchase-button .ui-btn-active 
{max-width: 200px; float: right;}

#checkoutOptimization .shoppingListPriceRow .shoppingListNormalOrder .column-2 .shoppingListTotalPrice {font-size: 1.5rem!important;}

#checkoutOptimization .ikea-product-pricetag-cell .ui-li-desc {font-size: .875rem!important;}
#checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-quantity-cell .quantity .trashQuantity {position: relative;
    margin-top: 1rem; left: 0px;}

.ui-body-d select {
    font-size: 1rem; 
    position: relative;-webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #111; 
    text-align: left;border: 1px solid #ccc; 
    border-radius: 2px;
    display: block;
    padding: 0px;
    margin-bottom: 1rem;
    width: 100%;
}

#checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-quantity-cell {padding: 1rem;}
#checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-right-column {padding: 1rem;}

#checkoutOptimization .empty-information .empty-information-headline {font-size:1rem; }
.empty-information-text {font-size: .875rem}

@media (max-width: 36rem) { 
    #checkoutButtonBoxTop .ui-btn-up-purchase, #checkoutButtonBoxTop .ui-btn-hover-purchase, #checkoutButtonBoxTop .ui-btn-down-purchase, #checkoutButtonBoxTop .ikea-pip-purchase-button .ui-btn-active,
    #checkoutButtonBoxBottom .ui-btn-up-purchase, #checkoutButtonBoxBottom .ui-btn-hover-purchase, #checkoutButtonBoxBottom .ui-btn-down-purchase, #checkoutButtonBoxBottom .ikea-pip-purchase-button .ui-btn-active
    {max-width:100%; float:none;}
    #checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-quantity-cell {padding: 1rem 10px 0 0;}
    .ui-body-d select {padding:.5rem; font-size:.75rem;}
    #checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-column2 .quantity {padding-top:0;}
    #checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper {margin:10px 0;}
    #checkoutOptimization .productRow .ikea-shoppinglist-product-list-wrapper .ikea-shoppinglist-product-table-row .ikea-shoppinglist-image-cell {width:90px; height:auto; }
}


/*Create Profile Page*/
#userform {
    max-width:1400px;
    margin:0 auto;
}
#userform header h2 {
    font-size: 1.5rem!important;
    font-weight:bold;
}
#userform header .mandatory {
    font-size: .75rem;
}
.create-profile, .loginform-normal-text .ui-btn-text, .loginform-normal-text {
    font-size: .875rem!important;
}
.create-profile-list li, .reset-list li {
    padding:1.5rem!important;
}

#userform input[type=tel], #userform input[type=text], #userform input[type=email], #userform input[type=password], #userform input[type=tel] {
    padding: .875rem!important;
    border: 1px solid #959595;
    border-radius: 2px;
    font-size: 1rem!important;
    margin-top:.5rem!important;
    font-family: 'Noto IKEA', 'Noto Sans','Open Sans', sans-serif !important; 
    font-size: .875rem!important; 
}
input.ui-input-text {
    height:auto!important;
}

.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    border-color: #0058A3;
    background: #0058A3!important;
    height: auto!important;
    padding: .3rem 1.8rem;
    box-sizing: border-box;
    color: #ffffff!important;
    box-shadow: none!important;
    font-size: .875rem!important;
}

.ui-btn .ui-btn-text {
    font-size: .875rem!important;
    text-shadow: none!important;
    font-weight: bold!important;
}

.ikea-error-headline, .ikea-error-block {
    max-width: 1400px; 
    margin:0 auto;
}
#cookies-legislation-bottom-border{
    display: none;
}
.ui-btn-up-d{
    border: none!important;
}


/*
    https://securem.ikea.com/my/en/login/create/
*/
.cookies-legislation{
    display: none;
}
